<ion-content>
    <ion-radio-group>
        <ion-list-header>
            Choose a Book:
        </ion-list-header>

        <ion-item *ngFor="let book of books">
            <ion-label>{{book.title}}</ion-label>
            <ion-radio value="{{book.id}}" checked="{{aon.book == book.id}}" (ionSelect)="selectBook(book.id)"></ion-radio>
        </ion-item>

    </ion-radio-group>
</ion-content>
