<ion-content>

    <ion-grid>
        <ion-row class="topsection">
            <ion-col size="12">
                <ion-text>Enter Starting Values:</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="middlesection">
            <ion-col size="4">
                <ion-text>Lone Wolf</ion-text>
            </ion-col>
            <ion-col class="block" size="4">
                <ion-text>Ratio</ion-text>
            </ion-col>
            <ion-col size="4">
                <ion-text>Enemy</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="middlesection">
            <ion-col size="2">
                <ion-text>CS:</ion-text>
            </ion-col>
            <ion-col size="2">
                <ion-input class="input" type="number" [(ngModel)]="loneWolfCombatSkill" ></ion-input>
            </ion-col>
            <ion-col size="4" class="block">
                {{loneWolfCombatSkill-enemyCombatSkill}}
            </ion-col>
            <ion-col size="2">
                <ion-text>CS:</ion-text>
            </ion-col>
            <ion-col size="2">
                <ion-input class="input" type="number" [(ngModel)]="enemyCombatSkill"></ion-input>
            </ion-col>
        </ion-row>
        <ion-row class="bottomsection">
            <ion-col size="2">
                <ion-text>End:</ion-text>
            </ion-col>
            <ion-col size="2">
                <ion-input class="input" type="number" [(ngModel)]="loneWolfEndurance"></ion-input>
            </ion-col>
            <ion-col size="4">
            </ion-col>
            <ion-col size="2">
                <ion-text>End:</ion-text>
            </ion-col>
            <ion-col size="2">
                <ion-input class="input" type="number" [(ngModel)]="enemyEndurance"></ion-input>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row class="topsection">
            <ion-col size="2">
                <ion-text>Loss:</ion-text>
            </ion-col>
            <ion-col size="2">
                <ion-text>End:</ion-text>
            </ion-col>
            <ion-col class="block" size="4">
                Random
            </ion-col>
            <ion-col size="2">
                <ion-text>Loss:</ion-text>
            </ion-col>
            <ion-col size="2">
                <ion-text>End:</ion-text>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let round of fightRounds" class="middlesection">
            <ion-col size="2">
                {{round.loneWolfLoss}}
            </ion-col>
            <ion-col size="2">
                {{round.loneWolfEndurance + round.loneWolfLoss}}
            </ion-col>
            <ion-col class="block" size="4">
                <ion-text>{{round.random}}</ion-text>
            </ion-col>
            <ion-col size="2">
                {{round.enemyLoss}}
            </ion-col>
            <ion-col size="2">
                {{round.enemyEndurance + round.enemyLoss}}
            </ion-col>
        </ion-row>
        <ion-row *ngIf="currentEnemyEndurance == 0" class="middlesection">
            <ion-col size="12">
                <ion-text class="result">Your enemy is dead!</ion-text>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="currentLoneWolfEndurance == 0" class="middlesection">
            <ion-col size="12">
                <ion-text class="result">You are dead!</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="bottomsection">
            <ion-button *ngIf="currentLoneWolfEndurance > 0 && currentEnemyEndurance > 0" color="primary" (click)="fightRound()">Fight</ion-button>
            <ion-button color="primary" (click)="clear()">Clear</ion-button>
        </ion-row>

    </ion-grid>

</ion-content>
