* {
  font-size: 14px;
}

.input {
  --padding-top: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-bottom: 0px;
}

ion-button {
  height: 1.5em;
  font-weight: bold;
  color: #ff7a6c;
  margin-top: 0px;
  margin-bottom: 5px;
}

.block {
  text-align: center;
  display: block;
}

.result {
  font-size: 18px;
  text-align: center;
  display: block;
  font-weight: bold;
}

.topsection {
  background-color: antiquewhite;
  border-left: 1px #86888f solid;
  border-right: 1px #86888f solid;
  border-top: 1px #86888f solid;
}

.middlesection {
  background-color: antiquewhite;
  border-left: 1px #86888f solid;
  border-right: 1px #86888f solid;
  padding-bottom: 4px;
}

.bottomsection {
  background-color: antiquewhite;
  border-left: 1px #86888f solid;
  border-right: 1px #86888f solid;
  border-bottom: 1px #86888f solid;
  margin-bottom: 10px;
}