<ion-content>
    <ion-slides [options]="">
        <ion-slide>
            <div class="swiper-zoom-container">
                <img src="{{mapUrl}}">
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>
