<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="library">
      <ion-icon name="books"></ion-icon>
      <ion-label>Library</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="read">
      <ion-icon name="book"></ion-icon>
      <ion-label>Read</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="character">
      <ion-icon name="person"></ion-icon>
      <ion-label>Character</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fight">
      <ion-icon name="swords"></ion-icon>
      <ion-label>Fight</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
