ion-label {
  margin-top: 10px;
  font-size: 150%;
  text-align: center;
  display: block;
}

img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

p {
  margin-left: 5px;
  margin-right: 5px;
}

.introduction {
  margin-left: 5px;
  margin-right: 5px;
}

.title {
  color: #111111;
  font-weight: bold;
  text-align: center;
}

.turn {
  color: #111111;
  font-weight: bold;
  cursor: pointer;
}

.deadend {
  color: #111111;
  font-weight: bold;
  font-size: 150%;
}

.puzzleinput {
  background-color: antiquewhite;
  border-left: 1px #86888f solid;
  border-right: 1px #86888f solid;
  border-top: 1px #86888f solid;
  border-bottom: 1px #86888f solid;
  padding-bottom: 4px;
  margin-bottom: 10px;
  text-align: center;
}

.puzzlebutton {
  margin-top: -2px;
}

.combat {
  text-align: center;
  display: block;
}

.back {
  cursor: pointer;
}

.poetry {
  text-align: center;
}