<ion-content #page>

    <div *ngIf="sectionNumber == null">

        <br/>
        <div [innerHTML]="sectionTitle" class="title">
        </div>
        <br/>
        <div [innerHTML]="section" id="sectionNode" class="introduction">
        </div>

        <ion-grid>
            <ion-row class="topsection">
                <ion-col class="block" size="6">
                    <ion-text class="turn" (click)="gotoSection(nextSection)">Next Section</ion-text>
                </ion-col>
                <ion-col class="block" size="6">
                    <ion-text class="turn" (click)="gotoSection('sect1')">Start Section 1</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <div *ngIf="sectionNumber != null">

        <span class="back"><ion-label (click)="back()">{{sectionNumber}}</ion-label></span>

        <div *ngFor="let node of nodes">

            <div *ngIf="node.type == 'p'">
                <p>{{node.text}}</p>
            </div>

            <div *ngIf="node.type == 'poetry'">
                <em><div [innerHTML]="node.text" id="poetry" class="poetry">
                </div><p></p></em>
            </div>

            <div *ngIf="node.type == 'ul'">
                <ul [innerHTML]="node.text" id="ul">
                </ul>
            </div>

            <div *ngIf="node.type == 'illustration'">
                <img src="{{node.imageFile}}">
                <p>{{node.text}}</p><br/>
            </div>

            <div *ngIf="node.type == 'combat'">
                <p class="combat">{{node.text.toUpperCase()}}<br/>
                    COMBAT SKILL: {{node.combatskill}}  ENDURANCE: {{node.endurance}}</p><br/>
            </div>

            <div *ngIf="node.type == 'choice'">
                <p>{{node.turnPrefix}}
                    <span class="turn" (click)="turnTo(node.turnId)">
                        {{node.turnText}}
                    </span>
                    {{node.turnPostfix}}
                </p>
            </div>

            <div *ngIf="node.type == 'deadend'">
                <p class="deadend">{{node.text}}</p>
            </div>

            <div *ngIf="node.type == 'puzzle'">
                <p>When you have broken the code, enter the numbers in order and press go:
                </p>
                <p>
                    <ion-grid>
                        <ion-row>
                            <ion-col size="9">
                                <ion-input type="number" class="puzzleinput" [(ngModel)]="puzzleResult"></ion-input>
                            </ion-col>
                            <ion-col size="3">
                                <ion-button color="primary" class="puzzlebutton" (click)="turnTo(puzzleResult)">Go</ion-button>
                            </ion-col>
                        </ion-row>

                    </ion-grid>
                </p>
            </div>
        </div>
    </div>
</ion-content>
