<ion-content>


    <ion-grid>

        <ion-row class="topsection">
            <ion-col size="3">
                <ion-text>Combat Skill:</ion-text>
            </ion-col>
            <ion-col class="block select-label" size="3">
                <ion-text>Base</ion-text>
            </ion-col>
            <ion-col class="block select-label" size="3">
                <ion-text> + Bonus</ion-text>
            </ion-col>
            <ion-col class="block" size="3">
                <ion-text> = Total</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="bottomsection">
            <ion-col size="3">
            </ion-col>

            <ion-col class="block" size="3">
                <ion-input class="input" type="number" [(ngModel)]="character.combatSkill" (ionChange)="save()"></ion-input>
            </ion-col>

            <ion-col class="block" size="3">
                <ion-input class="input" type="number" [(ngModel)]="character.combatSkillBonus" (ionChange)="save()"></ion-input>
            </ion-col>

            <ion-col class="block" size="3">
                <ion-text>{{character.combatSkill + character.combatSkillBonus}}</ion-text>
            </ion-col>
        </ion-row>

        <ion-row class="topsection">
            <ion-col size="3">
                <ion-text>Endurance:</ion-text>
            </ion-col>
            <ion-col class="block select-label" size="3">
                <ion-text>Base</ion-text>
            </ion-col>
            <ion-col class="block select-label" size="3">
                <ion-text> + Bonus</ion-text>
            </ion-col>
            <ion-col class="block" size="3">
                <ion-text> = Total</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="middlesection">
            <ion-col size="3">
            </ion-col>

            <ion-col class="block" size="3">
                <ion-input class="input" type="number" [(ngModel)]="character.endurance" (ionChange)="save()"></ion-input>
            </ion-col>

            <ion-col class="block" size="3">
                <ion-input class="input" type="number" [(ngModel)]="character.enduranceBonus" (ionChange)="save()"></ion-input>
            </ion-col>

            <ion-col class="block" size="3">
                <ion-text>{{character.endurance + character.enduranceBonus}}</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="bottomsection">
            <ion-col size="9">
                <ion-text>Current:</ion-text>
            </ion-col>
            <ion-col class="block" size="3">
                <ion-input class="inputbold" [(ngModel)]="character.currentEndurance" (ionChange)="save()"></ion-input>
            </ion-col>
        </ion-row>

        <ion-row class="topsection">
            <ion-col size="9">
                <ion-text class="randomlabel">Random Number:</ion-text>
            </ion-col>
            <ion-col class="block" size="3">
                <ion-button color="primary" (click)="newRandomNumber()">{{random}}</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="bottomsection">
            <ion-col size="3">
                <ion-text>Gold:</ion-text>
            </ion-col>
            <ion-col class="block" size="3">
                <ion-input type="number" class="inputbold" [(ngModel)]="character.gold" (ionChange)="save()"></ion-input>
            </ion-col>
            <ion-col size="3">
                <ion-text>Meals:</ion-text>
            </ion-col>

            <ion-col class="block" size="3">
                <ion-input type="number" class="inputbold" [(ngModel)]="character.meals" (ionChange)="save()"></ion-input>
            </ion-col>
        </ion-row>

        <ion-row class="topsection">
            <ion-col>
                <ion-text>Weapons (2):</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="bottomsection">
            <ion-col>
                <ion-textarea class="weapons" [(ngModel)]="character.weapons" (ionChange)="save()"></ion-textarea>
            </ion-col>
        </ion-row>

        <ion-row class="topsection">
            <ion-col>
                <ion-text>Backpack (8 Items)</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="bottomsection">
            <ion-col>
                <ion-textarea class="backpack" [(ngModel)]="character.backpack" (ionChange)="save()"></ion-textarea>
            </ion-col>
        </ion-row>

        <ion-row class="topsection">
            <ion-col>
                <ion-text>Notes & Special Items</ion-text>
            </ion-col>
        </ion-row>
        <ion-row class="bottomsection">
            <ion-col>
                <ion-textarea class="special" [(ngModel)]="character.special" (ionChange)="save()"></ion-textarea>
            </ion-col>
        </ion-row>


        <ion-row class="topsection">
            <ion-col class="block" size="6">
                <ion-button color="primary" (click)="clearPath()">clear path</ion-button>
            </ion-col>
            <ion-col class="block" size="6">
                <ion-button color="primary" (click)="clearCharacter()">clear character</ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="bottomsection">
            <ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
