* {
  font-size: 14px;
}

ion-select {
  padding-top: 0px;
  padding-bottom: 0px;
}

.inputbold {
  font-weight: bold;
  --padding-top: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-bottom: 0px;
}

.input {
  --padding-top: 0px;
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-bottom: 0px;
}

ion-button {
  height: 1.5em;
  font-weight: bold;
  color: #ff7a6c;
  margin-top: 0px;
  margin-bottom: 0px;
}

.select-label {
  padding-right: 22px;
}

.heading {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.right {
  text-align: right;
}
.block {
  text-align: center;
  display: block;
}

.topsection {
  background-color: antiquewhite;
  border-left: 1px #86888f solid;
  border-right: 1px #86888f solid;
  border-top: 1px #86888f solid;
}

.middlesection {
  background-color: antiquewhite;
  border-left: 1px #86888f solid;
  border-right: 1px #86888f solid;
  padding-bottom: 4px;
}

.bottomsection {
  background-color: antiquewhite;
  border-left: 1px #86888f solid;
  border-right: 1px #86888f solid;
  border-bottom: 1px #86888f solid;
  margin-bottom: 10px;
}

.weapons {
  height: 3em;
  background-color: #ffad99;
  --padding-top: 0px;
  --padding-bottom: 0px;
}

.backpack {
  height: 10em;
  background-color: #ffad99;
  --padding-top: 0px;
  --padding-bottom: 0px;
}

.special {
  height: 21em;
  background-color: #ffad99;
  --padding-top: 0px;
  --padding-bottom: 0px;
}